//
// libusbx Xcode configuration file
// Copyright © 2012 Pete Batard <pete@akeo.ie>
// For more information, please visit: <http://libusbx.org>
//
// This library is free software; you can redistribute it and/or
// modify it under the terms of the GNU Lesser General Public
// License as published by the Free Software Foundation; either
// version 2.1 of the License, or (at your option) any later version.
//
// This library is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
// Lesser General Public License for more details.
//
// You should have received a copy of the GNU Lesser General Public
// License along with this library; if not, write to the Free Software
// Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA

// ••• Important •••
// By default, libusbx uses Xcode's default compiler, default Mac OS X SDK, default deployment target, and default architectures.  Depending on your needs, you may want to specify explicit options here.
//GCC_VERSION =
//SDKROOT =
//MACOSX_DEPLOYMENT_TARGET =
//ARCHS =

// libusbx does not follow C99 strict aliasing rules, so disable it.
GCC_STRICT_ALIASING = NO

// Use C99 dialect.
GCC_C_LANGUAGE_STANDARD = c99

// Compiler warnings.
CLANG_WARN_EMPTY_BODY = YES
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_FOUR_CHARACTER_CONSTANTS = YES
GCC_WARN_SHADOW = YES
GCC_WARN_INITIALIZER_NOT_FULLY_BRACKETED = YES
GCC_WARN_ABOUT_MISSING_FIELD_INITIALIZERS = YES
GCC_WARN_ABOUT_MISSING_PROTOTYPES = YES
GCC_WARN_ABOUT_MISSING_NEWLINE = YES
GCC_WARN_UNKNOWN_PRAGMAS = YES
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_LABEL = YES
GCC_WARN_UNUSED_VARIABLE = YES
CLANG_ANALYZER_SECURITY_FLOATLOOPCOUNTER = YES
CLANG_ANALYZER_SECURITY_INSECUREAPI_RAND = YES
CLANG_ANALYZER_SECURITY_INSECUREAPI_STRCPY = YES

// TODO: try to enable in libusbx 2.0
//GCC_STRICT_ALIASING = YES
//GCC_WARN_SIGN_COMPARE = YES
//CLANG_WARN_IMPLICIT_SIGN_CONVERSION = YES
//CLANG_WARN_SUSPICIOUS_IMPLICIT_CONVERSION = YES
